<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.OrderDao" >
  <resultMap id="BaseResultMap" type="com.example.demo.domain.Order" >
    <result column="order_id" property="id" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getOrderInfo" resultMap="BaseResultMap" parameterType="java.util.Map">
    select * from t_grain_order
    where order_id = #{id};
  </select>
</mapper>